{% extends "base.html" %}
{% load sekizai_tags staticfiles %}
{% block title %}Jobs{% endblock %}
{% block content %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static "auctions/css/open.css" %}" >{% endaddtoblock %}
{% addtoblock "js_head" %}{{ map.media }}{% endaddtoblock %}
{% load crispy_forms_tags %}
<script>
  $(function(){
    //$('form.uniForm').uniform();
  });
</script>
<div class="hero-unit clearfix">{% crispy filterset.form %}<div id="map">{{ map }}</div>{% include "auctions/open/paginate.html" %}</div>{% endblock %}
