psycopg2
pillow
django-celery
kombu
pytz
pycurl
django-admin-tools
South
django-mailer
django-registration
django_extensions
django_nose
django_mobile
django-crispy-forms
django-generic-m2m
django-sendsms
django-sekizai
git+git://github.com/taarifa/django-form-designer.git#egg=django-form-designer
