#map {
    width: 500px;
    height: 500px;
    float: left;
}
#id-auction-filter-form {
    box-shadow: 3px 3px 1px #A8A;
}
#id-auction-filter-form {
    margin-bottom: 20px;
}
#id-auction-top-ten {

}
#id-auction-filter-form .ctrlHolder {
    width: 237px;
}

#div_id_o {
    padding-right: 199px;
}
