{% load sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Taarifa | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Caroline Glassberg-Powell">

    <!-- Le styles -->
    {% addtoblock "css" %}<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">{% endaddtoblock %}
    <style>body {padding-top: 60px;}</style>
    {% addtoblock "css" %}<link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">{% endaddtoblock %}
    {% addtoblock "css" %}<link href="{% static "css/base.css" %}" rel="stylesheet">{% endaddtoblock %}
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static "css/uni-form.css" %}" type="text/css" />{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static "css/purple.uni-form.css" %}" type="text/css" />{% endaddtoblock %}
    {% addtoblock "js" %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>{% endaddtoblock %}
    {% render_block "css" %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Taarifa</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li{% ifequal request.get_full_path "/" %} class="active"{% endifequal %}><a href="/">Home</a></li>
              {% if perms.auctions.add_bid %}
              <li{% ifequal request.get_full_path "/jobs/" %} class="active"{% endifequal %}><a href="/jobs/">Jobs</a></li>
              {% endif %}
              <li{% ifequal request.get_full_path "/about/" %} class="active"{% endifequal %}><a href="/about/">About</a></li>
              <li{% ifequal request.get_full_path "/contact/" %} class="active"{% endifequal %}><a href="/contact/">Contact</a></li>
              {% if request.user.pk %}
              <li {% ifequal request.get_full_path "/users/" %} class="active"{% endifequal %}><a href="/users/">Profile</a></li>
              <li {% ifequal request.get_full_path "/users/" %} class="active"{% endifequal %}><a href="/accounts/logout/">Logout</a></li>
              {% else %}
              <li {% ifequal request.get_full_path "/accounts/login/" %} class="active"{% endifequal %}><a href="/accounts/login/">Log in</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}{% endblock %}<footer></footer></div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% addtoblock "js" %}<script src="{% static "js/csrf.js" %}" type="text/javascript"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "uni_form/uni-form.jquery.js" %}" type="text/javascript"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "bootstrap/js/bootstrap.js" %}" type="text/javascript"></script>{% endaddtoblock %}
    {% render_block "js" %}
  </body>
</html>
