{% extends "base.html" %}{% load crispy_forms_tags sekizai_tags %}
{% block title %}Setup Taarifa{% endblock %}
{% block content %}
{% addtoblock "js_head" %}{{ form.media.js }}{% endaddtoblock %}{% addtoblock "css" %}{{ form.media.css }}{% endaddtoblock %}
<p>Step {{ step }} of {{ step_count }}</p>
<form action="." method="post" class="uniForm">
  {% crispy form %}
  <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
  {{ previous_fields|safe }}
  <div class="buttonHolder" ><input type="submit" class="submit submitButton" name="submit" /></div>
</form>
{% endblock %}
